@font-face {
  font-family: shabnam;
  src: url(./Assets/Shabnam.ttf);
}

body {
  direction: rtl;
}

.container-fluid {
  /* height: 4000px; */
  margin: 0;
}

.company-name {
  color: #007f62;
  font-size: 24px;
}

.navbar {
  -webkit-box-shadow: 0px 4px 19px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 19px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -2.5px 4.3px 15px 0px #e0e0e0;
  font-family: shabnam;
}
.navbar-brand
{
color: #007f62 !important;
}
.humIcon {
  color: #00a680;
}

.humIcon-div {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.web-header {
  height: 250px;
}

#search-icon {
  color: #00a680;
  font-size: 20px;
}

.company-logo-div {
  background-image: url(./Assets/009_logo_Bg.png);
  width: 300px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70px;
  z-index: -1;
}

.carousel-indicators {
  position: relative;
}

.slides-text-div {
  height: 225px;
  position: absolute;
  font-family: shabnam;
}

.slides-text-titr {
  color: #007f62;
  font-size: 24pt;
}

.titr-underline {
  border-bottom: 3px solid #007f62;
}

.Rectangle-1 {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.carousel-indicators li {
  background-color: gray;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

li.active {
  background-color: #ff7043;
  border-radius: 140% !important;
  transform: scale(2, 1);
}

.company-logo-container {
  background-image: url("./Assets/009_logo_Bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.web-navbar-ul li {
  display: flex;
  align-content: center;
  font-family: shabnam;
  margin-top: 10px;
  cursor: pointer;
}
.navbar-toggler
{
  border: none;

}
.fa-bars
{
color: #00a680;
}
.navbar-toggler-icon
{
color: red !important;
}
.header-radar-div {
  background-image: url("./Assets/010_header_wave.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.twowawes-wawe1 {
  opacity: 0.7;
}

.dl-bg {
  transform: translateY(40px);
}

.partsLogo {
  width: 72px;
  height: 72px;
  border-style: solid;
  border-width: 1px;
  border-color: #00f4bd;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.partsLogo-active {
  width: 72px;
  height: 72px;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #f46739, #ff9f81);
  border: none;
}
.partsLogo-img {
  font-size: 30pt;
  background: -webkit-linear-gradient(#00f4bd, #00a680);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.partsLogo-img-active {
  font-size: 30pt;
  background: -webkit-linear-gradient(white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.partsLogo-row {
  width: 100%;
  overflow-x: scroll;
}

.partsLogo-row::-webkit-scrollbar {
  display: none;
}

.partsLogo-div {
  width: 140%;
  display: flex;
  justify-content: space-around;
}
.partsDescription-div {
  padding-top: 7%;
}
.partsDescription-titr {
  color: #007f62;
  font-size: 20pt;
  font-weight: bold;
  font-family: shabnam;
  text-align: center;
  width: 100%;
}
.partsDescription-text {
  font-size:  calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));;
  font-family: shabnam;
  text-align: justify;
}
.download-content-fatherrrow {
  height: 400px;
  display: flex;
  align-items: flex-end;
}

.download-content-div {
  width: 95%;
  height: 750px;
  border-radius: 15px;
  box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
  background-color: #ffffff;
}
.downloadicon-div {
  height: 20%;
}

.downloadicon-img {
  width: 100px;
  height: 88px;
}
.download-content-titr {
  color: #007f62;
  font-size: 20pt;
  font-family: shabnam;
  text-align: center;
}
.download-content-undertitr {
  font-size: 14pt;
  font-family: shabnam;
  text-align: center;
}
.download-content-phoninput {
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  outline: none;
}
.download-content-phonbutton {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  font-family: shabnam;
  outline: none;
  cursor: pointer;
}
.download-content-waystext {
  font-size: 14pt;
  font-family: shabnam;
  text-align: center;
}
.download-buttons {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
  background-image: linear-gradient(to top, #00a680, #00f4bd);
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font-family: Cambria, shabnam;
}

.googleplay {
  font-size: 18pt;
  color: white;
}
.amadegisafar-row {
  height: 500px;
  display: flex;
  align-items: flex-end;
}
.amadegisafar-div {
  height: 292px;
  background-image: url("./Assets/amadegisafar.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.amadegi-button {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25),
    0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  border: none;
  color: white;
  font-family: shabnam;
}
.amadegi-text-div {
  width: 55%;
  height: 300px;
  font-family: shabnam;
}
.amadegi-titr {
  color: white;
  font-size: 20pt;
}
.amadegi-text {
  color: white;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300;
  text-align: center;
}

.amadegi-button {
  outline: none;
  cursor: pointer;
  transform: translateY(-30px);
}
.ideatext-row {
  height: 420px;
}

.idea-titr {
  font-family: Shabnam;
  font-size: 24px;
  text-align: center;
  color: #007f62;
}
.idea-text {
  font-family: shabnam;
  text-align: center;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}
.ideaimg {
width:200px;
height: 150px;
background-repeat: no-repeat;
background-size: contain;

  border-radius: 15px;
cursor: pointer;
}
.ideaimgs-div
{
overflow-x: scroll;
}
.ideaimgs-div-scroll
{
  width:1100px;
}
.farhangi
{
  background-image: url("./Assets/farhangi.jpg");
  background-size: cover;
}
.tabiat
{
  background-image: url("./Assets/tabiatgardi.jpg");
  background-size: cover;
}
.tarikhi
{
  background-image: url("./Assets/tarikhi.jpg");
  background-size: cover;
}
.mazhabi
{
  background-image: url("./Assets/mazhabi.jpg");
  background-size: cover;
}
.tafrihi{
  background-image: url("./Assets/tafrihi.jpg");
  background-size: cover;
}
.ideaimg:hover .ideaimg-text-div
{
 height: 30%;
}

.ideaimg-text-div
{
width: 100%;
height: 0%;
background-color: black;
opacity: 0.6;
border-bottom-right-radius:15px ;
border-bottom-left-radius:15px ;
transition: 0.5s ;
}
.ideaimg-text
{
 font-size: 10pt;
  font-family: shabnam;
  color: white;
  display: none;

}
.ideaimg:hover .ideaimg-text
{
  display: inline;
}
.ideaimgs-div {
  overflow-x: scroll;
}
.ideaimgs-div::-webkit-scrollbar {
  display: none;
}
.ideainput {
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  outline: none;
}
.ideabutton {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  font-family: shabnam;
  outline: none;
  cursor: pointer;
  transform: translateX(-150px);
}
.ideaemail-text {
  font-family: shabnam;
  text-align: center;
}
.ideaemail-row {
  height: 570px;
  z-index: -1;
}
.footer-row {
  background-image: url("./Assets/025_footer_Bg2.png");
  height: 400px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.copyright-div {
  width: 33%;
  background-image: url("/Assets/026_footer_c.right_bg.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.footermenu-div
{
  width: 33%;
}
.contact-div
{
  width: 33%;
}
.logo {
  width: 40%;
}
.copyright-text {
  font-family: Shabnam;
  font-size: calc(6px + (10 - 6) * ((100vw - 300px) / (1600 - 300)));
  width: 70%;
  color: #ffffff;
  text-align: center;
}
.fa-copyright {
  color: white;
  opacity: 0.5;
}
.footer-ui {
  padding: 0px;
  height: 400px;
}
.footer-li {
  font-family: shabnam;
  color: white;
  font-size: calc(7px + (14 - 7) * ((100vw - 300px) / (1600 -500)));
  height: 25px;
}
.twitter {
  width: 15%;
  transform: translate(20px, -140px);
}
.instagram {
  width: 15%;
  transform: translate(15px, -100px);
}
.telegram {
  width: 15%;
  transform: translate(5px, -70px);
}
.email-text {
  color: white;

  font-family: calibri;
  font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1600 - 768)));
}
.fa-envelope {
  color: white;
  font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1600 - 768)));
}
.phon-text {
  color: white;
  font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1600 - 768)));
  font-family: calibri;
}
.fa-phone-alt {
  color: white;

  font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1600 - 768)));
}
.mobilefooter-row
{
  background-image: url("./Assets/025_mobilefooter_Bg2.png");
  background-position: center;
  background-size: 100% 100%;
  transform: translatey(-200px);
  z-index: 1;
  height: 400px;

}
.mobilefooter-twitter {
  width: 50px;
  height: 50px;
}
.mobilefooter-instagram {
  width: 50px;
  height: 50px;
}
.mobilefooter-telegram {
  width: 50px;
  height: 50px;
}
.mobilefooter-iconsdiv
{
  width: 80%;
height: 90px;
}
.mobilefooter-menudiv
{
  width: 80%;
  height: 70px;
}
.mobilefooter-logodiv
{
  height: 100px;
}
.mobilelogo
{
  width: 100px;
}

@media only screen and (max-width: 576px) {
  .container-fluid
  {
    height: 4560px;
  }
  .partsLogo-div {
    width: 200%;
  }
  .ideabutton {
    transform: translate(0, 70px);
  }
  .ideaemail-div {
    height: 500px;
    background-color: #e1fff8;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .ideabutton {
    transform: translate(0, 70px);
  }
  .ideaemail-div {
    height: 500px;
    background-color: #e1fff8;
  }
  .container-fluid
  {
    height: 4650px;
  }
}
@media only screen and (max-width: 767.98px) {
  .slides-text-div {
    position: static;
    font-size: 15px;
    height: 180px;
  }

  .carousel-inner {
    width: 100% !important;
  }

  .download-content-titr-div {
    height: 20%;
  }
  .download-content-input-div {
    height: 24%;
  }
  .download-content-waystext-div {
    height: 15%;
  }
  .download-content-waysbuttons-div {
    height: 35%;
  }
  .download-content-withoutimg {
    height: 80%;
  }
  .download-content-fatherrrow {
    height: 850px;
  }
  .amadegisafar-div {
    background-image: url("./Assets/amadegisafar-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    background-position: bottom;
  }
  .amadegi-text-div {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container-fluid {
    /* height: 5000px; */
  }
  .ideaemail-row
  {
    height: 200px;
  }
  .ideaemail-div
  {
    height: 200px;
  }
  .carousel-inner {
    width: 100% !important;
  }

  .web-navbar-ul li {
    font-size: 10px;
  }

  .Rectangle-1 {
    width: 80px;
    height: 30px;
  }

  .download-content-div {
    height: 300px;
    border-radius: 30px;
  }
  .download-content-withoutimg {
    height: 100%;
  }
  .download-content-phonbutton {
    position: absolute;
    transform: translateX(-150px);
  }
  .download-content-phoninput {
    width: 410px;
  }
  .downloadicon-div {
    height: 100%;
  }
  .download-content-div {
    width: 75%;
  }
  .download-content-waysbuttons-div {
    transform: translate(35px, 32px);
  }
  .amadegisafar-div {
    background-image: url("./Assets/amadegisafar-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    background-position: bottom;
  }
  .amadegi-text-div {
    width: 90%;
  }
  .twitter {
    width: 18%;
    transform: translate(20px, -150px);
  }
  .instagram {
    width: 18%;
    transform: translate(15px, -130px);
  }
  .telegram {
    width: 18%;
    transform: translate(12px, -110px);
  }
}
@media only screen and (min-width: 992px) {
  .download-content-div {
    height: 300px;
    border-radius: 30px;
  }
  .download-content-withoutimg {
    height: 100%;
  }
  .download-content-phonbutton {
    position: absolute;
    transform: translateX(-150px);
  }
  .download-content-phoninput {
    width: 410px;
  }
  .downloadicon-div {
    height: 100%;
  }
  .download-content-div {
    width: 75%;
  }
  .download-content-waysbuttons-div {
    transform: translate(35px, 32px);
  }
  .amadegisafar-div {
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    background-position: bottom;
  }
  .amadegi-button {
    transform: translateY(30px);
  }
  .ideaemail-row
  {
    height: 200px;
  }
  .ideaemail-div
  {
    height: 200px;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?cglxhb");
  src: url("fonts/icomoon.eot?cglxhb#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?cglxhb") format("truetype"),
    url("fonts/icomoon.woff?cglxhb") format("woff"),
    url("fonts/icomoon.svg?cglxhb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_didani:before {
  content: "\e900";
}

.icon-icon_restaurant:before {
  content: "\e901";
}

.icon-icon_hotel:before {
  content: "\e902";
}

.icon-icon_fly:before {
  content: "\e903";
}

.icon-icon_nearme:before {
  content: "\e904";
}

.icon-icon_favorites:before {
  content: "\e905";
}
